scripts=[
        "
        create path (sling:OrderedFolder) /content/dam/bootcamp-isabelle
        create path (nt:unstructured) /content/dam/bootcamp-isabelle/jcr:content
        set properties on /content/dam/bootcamp-isabelle/jcr:content
        set cq:conf{String} to /conf/bootcamp-isabelle
        set jcr:title{String} to \"Bootcamp - Isabelle\"
        end
        "
]
